
@font-face {
    font-family: "Esja-regular";
    src: url("Esja-Regular.woff");
}

body {
  font-family: "Esja-Regular";
  line-height: 1.5em;
  margin: 0;
}
h1 {
  font-size: 36px;
  margin-left: 20px;
}

div.description {
  font-size: 24px;
  margin: 20px;
}

div.image-container {
  width: auto;
  height: 600px;
  overflow: hidden;
}

img.title-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

img.icon {
  display: inline;
  margin-right: 10px;
  margin-left: 20px;
}
