
@font-face {
    font-family: "Esja-regular";
    src: url("Esja-Regular.woff");
}

body {
  font-family: "Esja-Regular";
  line-height: 1.5em;
  margin: 40px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  background: white;
}
h1 {
  font-size: 40px;
  margin-bottom: 10px;
  padding-top: 40px;
  letter-spacing: 0.02em;
  text-align: right;

}

h2.event-title {
  font-size: 70px;
  font-weight: bold;
  line-height: 1.1;
}
div.description-and-category {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  margin: 20px 0;
}

div.description {
  font-size: 38px;
  line-height: 1.1;
  display: flex;
}

img.category.icon{
  height: 24px;
}

div.category {
  font-size: 32px;
  color: #393939;
  display: flex;
  flex-wrap: nowrap;
  margin-left: 50px;
}

div.image-container {
  width: auto;
  height: 600px;
  overflow: hidden;
  border: 1px solid black;
}

img.title-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}
img.portrait {
  width: unset;
  height: unset;
  object-fit: contain;
}

img.icon {
  display: inline;
  margin-right: 10px;
  height: 30px;
}

div.time-and-place {
  display: block;
  font-size: 40px;
  border-top: 1px solid lightgrey;
  width: fit-content;
  padding-top: 20px;
}

@media (min-aspect-ratio: 1.1/1) {
  div.starttime,
  div.location {
  display: inline-block;
  margin-bottom: 10px;
  }
  div.location {
    margin-left: 20px;
  }
}

