
@font-face {
    font-family: "Esja-regular";
    src: url("Esja-Regular.woff");
}

body {
  font-family: "Esja-Regular";
  line-height: 1.5em;
}
h1 {
  font-size: 24px;
}
div.description {
  font-size: 18px;
  margin-bottom: 20px;
}

div.item img {
  max-height: 600px;
}

img.icon {
  display: inline;
  margin-right: 10px;
}
